<div class="navbar bg-sky-200 text-black justify-between px-6 py-4">
  <div class="flex items-center space-x-4">
    <a href="/" class="nav-link font-bold text-lg <%= (page == '/') ? 'active' : '' %>">Home</a>
    <a href="/lego/sets" class="nav-link font-bold text-lg <%= (page == '/lego/sets') ? 'active' : '' %>">Lego Collection</a>
  </div>

  <div class="flex items-center space-x-4">
    <a href="/about" class="nav-link font-bold text-lg <%= (page == '/about') ? 'active' : '' %>">About me</a>
  </div>
</div>
